@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');

body {
  text-align: center;
  h1, h2, h3 {
    font-family: "Domine", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  header {
    display: grid;
    grid-area: header;
    text-align: center;

    nav {
      background-color: #38369A;
      box-shadow: 1px 4px 9px 1px black;
      ul {
        display: grid;
        
        text-decoration: none;
        list-style-type: none;
        grid-template-columns: repeat(1, 1fr);
        padding: 0px;
        
        li {
          padding: 10px;
          
          a {
            color: #ffffff;
            background-color: #00000000;
            padding: 10px;
            border-radius: 30px;
            border: 2px solid white;
          }
          a:hover {
            background-color: #FFFF;
            border: 2px solid black;
            padding: 10px;
            border-radius: 30px;
            color: black;
          }
        }
      }
    }
  }

  header {
    grid-area: header;
  }

  main {
    grid-area: main;
    background-color: rgb(255, 255, 255);

    .grid-container {
      margin-top: 20px;
      ul {
        border: 2px solid black;
        width: 65%;
        padding: 10px;
        padding-right: 40px;
        padding-left: 40px;
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
        list-style: none;
        li {
          p, textarea, button {
            background-color: #FFFF;
            border: 2px solid black;
          }
          button:hover {
            background-color: #C6EBBE;
          }
        }
        img {
          width: 30vw;
        }
        section {
          border: 2px solid black;
        }
      }
      
    }
  }

  footer {
    grid-area: footer;
  }
}
#root {
  .Profile {
    main {
      border: 2px solid black;
      margin-top: 20px;
      border-radius: 20px;
    }
  }
}
