@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');

:root {
  --primary-color: #38369A;
  --secondary-color: #FFFF;
  --tertiary-color: #C6EBBE;
  --text-color: #ffffff;
}

body {
  text-align: center;
  font-family: "Domine", serif;

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    box-shadow: 1px 3px 13px 1px black;

    nav {
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        padding: 0;

        li {
          padding: 10px;

          a {
            color: var(--text-color);
            background-color: transparent;
            padding: 10px;
            border-radius: 30px;
            border: 2px solid var(--text-color);
            transition: background-color 0.5s ease, border-color 0.8s ease;
            

            &:hover {
              background-color: var(--secondary-color);
              border-color: black;
              color: black;
            }
          }
        }
      }
    }
  }

  main {
    background-color: var(--secondary-color);

    .grid-container {
      margin-top: 20px;

      ul {
        border: 2px solid black;
        width: 65%;
        padding: 10px;
        padding-right: 40px;
        padding-left: 40px;
        margin: auto;
        list-style: none;

        li {

          p,
          textarea,
          button {
            background-color: var(--secondary-color);
            border: 2px solid black;
          }

          button:hover {
            background-color: var(--tertiary-color);
          }
        }

        img {
          width: 30vw;
        }

        section {
          border: 2px solid black;
        }
      }
    }
  }

  footer {
    grid-area: footer;
  }

  @media screen and (min-width: 768px) {
    header {
      nav {
        ul {
          justify-content: space-between;
        }
      }
    }
  }
}